.l1
{
    display: block;
    width: 150px;
    float: left;
}
.form{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
.l2{
    display:inline;
    margin-left:80px;
    width:42%;
}
.retour{
    display:inline;
    width:10%;
    margin-left:25%;
}
.modif{
    display: inline;
    width:10%;
    margin-left:19%;
}
.suppr{
    display:inline;
    width:10%;
}
.input{
    display:block;
    margin-left : auto;
    margin-right:auto;
    }
    
.nvJ{
        margin-top:200px;
    }

.li{
    text-align:center;
    list-style-type: none;
}